/*header {
 width: 1000px;
 margin: 0 auto; 	
}

#navigation {
 
  border-left: 1px solid #0f687e;
  border-right: 1px solid #60b9cf;
}

.content-wrapper {
 width: 1000px;
 margin: 0 auto;	
}

#main-menu,
#footer {
 width: 1000px;
 margin: 0 auto;
}*/